@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--bg-color-dark: #6c8693;
	--bg-color-regular: #c4cccf;
	--bg-color-light: #e6eae9;
	--mark-color: #a7c2d3;
	--font-color-dark: #232b2e;
	--font-color-light: #faf7f2;

	--bg-radius-default: 15px;

	--font-default: 'Mukta', sans-serif;
}

/* ::-webkit-scrollbar {
	background: transparent;
}

::-webkit-scrollbar-track {
	background: #6dc6b666;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb {
	background: #6dc6b6;
	border-radius: 25px;
}

::-webkit-scrollbar-corner {
	background: transparent;
} */
