/* @import './styles/main.css'
@import './styles/reset.css' */

.nav {
	padding: 20px 0;
	overflow: hidden;
	animation-duration: 0.5s;
	animation-name: menuslide;
}

@keyframes menuslide {
	0% {
		transform: translateX(300px);
	}

	100% {
	}
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: flex-start;
	flex-direction: column;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	list-style-type: none;
}

.nav-list__link {
	color: white;
	font-size: 40px;
	font-family: "Noto Sans";
	font-weight: bold;
	transition: opacity 0.2s ease-in;
	text-decoration: none;
}

.nav-list__link:hover {
	opacity: 0.5;
}

.nav-list__link--active {
	position: relative;
	text-decoration: underline #6dc6b6;
}
