.AppFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 7%;
  width:100%;

  background: #6dc6b6;
  color: #137c67;
  font-family: "Noto Sans";
  font-weight: bold;
  border-radius: 10px 10px 0 0;

  z-index: 4;
}
