.AppHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    height: 144px;
}

.AppHeader__title {
    font-family: "Monoton", regular;
    font-size: 96px;
    text-transform: uppercase;
    color: #23d6b3;
    z-index: 4;
}

.AppHeader__button {
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #b9f4e8;
    opacity: 80%;

    border-radius: 100%;
    z-index: 4;
}

@media only screen and (max-width: 1000px){
    .AppHeader__title {
        font-family: "Monoton", regular;
        font-size: 96px;
        text-transform: uppercase;
        color: #23d6b3;
        z-index: 4;
    }
    .cardsListVideos{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction:column;
        width: 100%;
        height: 100%;
    
        background: linear-gradient(white, #bbf2e8d4 70%);
    }
    .AppFooter {
        display: flex;
        justify-content: space-around;
        align-items: center;
      
        max-height: 30%;
        width:100%;
      
        background: #6dc6b6;
        color: #137c67;
        font-family: "Noto Sans";
        font-weight: bold;
        border-radius: 10px 10px 0 0;
      
        z-index: 4;
      }
    
      
}