.AppHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    height: 144px;
}

.AppHeader__title {
    font-family: "Monoton", regular;
    font-size: 96px;
    text-transform: uppercase;
    color: #23d6b3;
    z-index: 4;
}

.AppHeader__button {
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #b9f4e8;
    opacity: 80%;

    border-radius: 100%;
    z-index: 4;
}
