.card {
	position: relative;
	width: 260px;
	height: 220px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

	padding: 30px;
	border-radius: 50px;
	background: transparent;
}

.card__title {
	font-size: 26px;
	font-family: 'Noto Sans';
	font-weight: bold;
	text-align: center;
}

.dark {
	color: var(--font-color-dark);
}

.light {
	color: var(--font-color-light);
}

.card__button:hover {
	cursor: pointer;
}

.card__text {
	font-size: 18px;
	font-family: 'Noto Sans';
	font-weight: lighter;
	text-align: center;
}

@media only screen and (min-width: 1000px) {
	.card {
		position: relative;
		width: 400px;
		height: 250px;
	}
}
