.contacts__container {
	display: flex;
	flex-direction: column;

	padding: 0 25px;
}

.contacts__container h1 {
	font-size: 60px;
	font-family: var(--font-default);
	mix-blend-mode: unset;
	letter-spacing: normal;
	text-align: left;

	/* margin-bottom: 10px; */

	color: var(--font-color-dark);
}
.contacts__text {
	font-size: 30px;
}

.contacts__text_marked {
	color: var(--font-color-light);

	transition: 20s ease-in-out;
}

.contacts__text_marked:hover {
	font-size: 1600px;
}
