.cardsList {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        background: linear-gradient(white, #bbf2e8d4 70%);
}
