@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

.AppWrapper {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	justify-content: space-between;
	flex-direction: column;
	background: linear-gradient(white, #bbf2e8d4 70%);
}

.AppContent {
	width: 100%;
}
