
@font-face {
  font-family: Hind Vadodara;
}

body {
  margin: 0;
  background: #000;
  background-size: cover;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
div#fashion {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  transition: 0.4s;
}

  h1 {
    font-family: c;
    text-align: center;
    top: 1000px;
    font-size: 2rem;
    width: 100%;
    letter-spacing: .5rem;
    mix-blend-mode: overlay;
  }
  nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
  }
  h2 { 
    font-family: Hind Vadodara;
    font-size: 8vmin;
    margin-bottom: 500px;
    text-align: center;
    /* margin: rem 1rem 0; */
    mix-blend-mode: overlay;
    color: #000;
    font-weight: 100;
  }
  .smallVideo{
    position:absolute;
    max-width:260px;
    width:100%;
    height:100%;
    border-radius: 30px;
    z-index:1
  }
  .play_btn{
    position:center;
    margin-left:35%;
    z-index:2;
    max-width:50px;
  }
  .Modal__Video1{
    position:relative;
    align-items:center;
    margin-top:0%;
    margin-left:0%;
    max-width:1000px;
    max-height:450px;
    width:100%;
    height:100%;
    border-radius: 30px;
    z-index:1
  }


  .play_btn: hover{
    cursor:pointer;
  }
  
  div#player{
    position:center;
    margin-left:50%;
    max-width: 300px;
    width:100%;
    border-radius: 30px;
    .video{
      max-width:100%;
      border-radius:30px;
    }
    .controls{

    }

  }